<ion-header>

  <ion-navbar>
    <ion-title>RegisterPage</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

<form *ngIf='!registering' (ngSubmit)='onRegister()' #registerForm='ngForm'>
		<div class="form-group" >
		  <label for="name">username</label>
      <input type="text" class="form-control" id="name"
              required
              [(ngModel)]="username" name="name"
              (change)='reset()'>
		</div>

    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password"
              required
              [(ngModel)]="password" name="password"
              (change)='reset()'>
    </div>

    <div *ngIf="check" class="alert alert-danger" role="alert">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      <span class="sr-only">Error:</span>
      Username already exists
    </div>

    <button ion-button round (click)="onRegister()" outline color="primary" type="submit" [disabled]="!registerForm.form.valid">
      <span> Register </span>
    </button>
	</form>

  <img style="margin-left: auto; margin-right: auto; display: block; margin-top: 150px" *ngIf='registering' src='../../assets/Gif/ring.svg'>


  </ion-content>
