<!--
  Generated template for the Event page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{item.name}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-thumbnail *ngIf="item.image">
        <img class="logo" src="{{ item.image }}">
    </ion-thumbnail>
    <ion-thumbnail *ngIf="!item.image">
        <img class="logo" src="../../assets/img/pegasus.jpg">
    </ion-thumbnail>
    <h1>{{item.name}}</h1>
    <p>{{item.description}}</p>
    <br>
    <ion-icon name="person">  {{ item.owner }}</ion-icon>
    <br>


</ion-content>
