<ion-header>
    <ion-navbar>
        <ion-title>Organizations</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item *ngFor="let club of clubs" (click)="itemSelected(club)">
            <ion-thumbnail *ngIf="club.image" item-left>
                <img class="logo" src="{{ club.image }}">
            </ion-thumbnail>
            <ion-thumbnail *ngIf="!club.image" item-left>
                <img class="logo" src="../../assets/img/pegasus.jpg">
            </ion-thumbnail>
            <h2 class="names">{{ club.name }}</h2>
        </ion-item>
    </ion-list>
</ion-content>
